
<div class="row">
  <div class="col">
      <div class="row">
          <div class="col ml-auto my-1">
            <button
              class="float-right btn btn-primary"
              (click)="onNewButtonClick()">
              New
            </button>
          </div>
        </div>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <th scope="row" class="form-check form-group ">
            <input type="checkbox" class="form-check-input mx-1" [checked]="todo.status">
          </th>
           <td>{{ todo.category }}</td>
          <td>
            <div class="row">
              <div class="col">
                <button class="btn btn-primary" (click)="onEditButtonClick()">Edit</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
      <router-outlet></router-outlet>
  </div>
</div>
